In [10]:
import pandas as pd

# order_item 데이터셋 불러오기
order_items_df = pd.read_csv("data/olist_order_items_dataset.csv")
order_items_df.info()

# products 데이터셋
products_df = pd.read_csv("data/olist_products_dataset.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [11]:
products_df = products_df[["product_id", "product_category_name"]]
products_df

                             product_id              product_category_name
0      1e9e8ef04dbcff4541ed26657ea517e5                         perfumaria
1      3aa071139cb16b67ca9e5dea641aaa2f                              artes
2      96bd76ec8810374ed1b65e291975717f                      esporte_lazer
3      cef67bcfe19066a932b7673e239eb23d                              bebes
4      9dc1a7de274444849c219cff195d0b71              utilidades_domesticas
...                                 ...                                ...
32946  a0b7d5a992ccda646f2d34e418fff5a0                   moveis_decoracao
32947  bf4538d88321d0fd4412a93c974510e6  construcao_ferramentas_iluminacao
32948  9a7c6041fa9592d9d9ef6cfe62a71f8c                    cama_mesa_banho
32949  83808703fc0706a22e264b9d75f04a2e             informatica_acessorios
32950  106392145fca363410d287a815be6de4                    cama_mesa_banho

[32951 rows x 2 columns]

In [12]:
new_order_items = pd.merge(order_items_df, products_df, how="left", on="product_id")
new_order_items

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,cool_stuff
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,pet_shop
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,moveis_decoracao
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,perfumaria
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,ferramentas_jardim
...,...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41,utilidades_domesticas
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53,informatica_acessorios
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95,esporte_lazer
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72,informatica_acessorios
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79,cama_mesa_banho

In [13]:
new_order_items["product_category_name"] = new_order_items[
    "product_category_name"
].fillna("unknown")

In [14]:
new_order_items.isna().sum()

order_id                 0
order_item_id            0
product_id               0
seller_id                0
shipping_limit_date      0
price                    0
freight_value            0
product_category_name    0
dtype: int64

In [15]:
# new_order_items.to_csv("order_items_and_category_name_dataset.csv")

In [16]:
new_order_items.dtypes

order_id                  object
order_item_id              int64
product_id                object
seller_id                 object
shipping_limit_date       object
price                    float64
freight_value            float64
product_category_name     object
dtype: object

In [21]:
# product_df 필요없는 컬럼 삭제
products_df = products_df[["product_id", "product_category_name"]]

# order item <- products (product_category_name) 머지
order_items_with_category = order_items_df.merge(
    products_df[["product_id", "product_category_name"]], left_on="product_id", right_on='product_id',how="left"
)

# 결측치 처리
order_items_with_category["product_category_name"] = order_items_with_category[
    "product_category_name"
].fillna("unknown")

# 데이터 타입 변환
order_items_with_category["shipping_limit_date"] = pd.to_datetime(
    order_items_with_category["shipping_limit_date"]
)

# 파일 저장
order_items_with_category.to_csv("order_items_with_product_category.csv", index=False)

# 데이터 타입 확인
order_items_with_category.dtypes

order_id                         object
order_item_id                     int64
product_id                       object
seller_id                        object
shipping_limit_date      datetime64[ns]
price                           float64
freight_value                   float64
product_category_name            object
dtype: object

In [23]:
order_items_with_category.duplicated().sum()

0

In [18]:
missing_values = order_items_with_category.isnull().sum()
missing_values

order_id                 0
order_item_id            0
product_id               0
seller_id                0
shipping_limit_date      0
price                    0
freight_value            0
product_category_name    0
dtype: int64